@import "common.css";

 main{
     margin-bottom:170px;
    .magnifyglass{
       .box{
           padding: 20px;
           .show-img {
            position: relative;
            width:500px;
            font-size: 0;
            border: 1px solid #ccc;
            overflow: hidden;
            img{
                width:500px;
                height: auto;    
            }
            .filter {
                position: absolute;
                left: 0px;
                top:0;
                width: 150px;
                height: 150px;
                background: rgba(0,0,0,0.6);
                cursor: move;
                display: none;
              }
          }
          .magnify-img {
            position: absolute;
            left: 650px;
            top: 20px;
            width: 450px;
            height: 450px;
            overflow: hidden;
            border: 1px solid #eee;
            display: none;
            img {
                position: absolute;
                left: 0;
                top: 0;
                width: 1080px;
              }
          }
       }      
    }
    .goods_detail{
        margin-top:60px;
        padding: 0 30px 30px 30px;
        .f_left{
            float:left !important;
        }
        .f_right {
            float: right !important;
        }
        
        .left_wrap{
            width: 551px;
            .title_wrap{
                height: 104px;
                border-bottom: 1px solid #e4dbcd;
                line-height: 54px;
                .title {
                    font-size: 18px;
                }    
                .no_wrap {
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }
                .price_wrap {
                    min-width: 120px;
                    height: 48px;
                    text-align: right;
                    p{
                        display: inline-block;
                    }
                    .new_price {
                        font-size: 24px;
                        color: #ff4001;
                        small{
                            font-size: 18px;
                        }
                    }
                }
            }
            #promotion{
                .promotion{
                    padding: 10px 0 14px;
                    h5{
                        margin-top: 4px;
                        margin-bottom: 10px;
                        padding-left: 30px;
                        color: #ff4001;
                        font-weight: normal;
                        font-size: 12px;
                    }
                }
            }
            
        }
        .right_wrap{
            width: 551px;
            .eat_num {
                border-bottom: 1px solid #ff4001;
                padding-top: 16px;
                font-size:14px;
                color: inherit;
                p{
                    height: 28px;
                    line-height: 28px;
                }
                .persons{
                    
                    a{
                        float: left;
                        width: 135px;
                        height: 58px;
                        line-height: 58px;
                        text-align: center;
                        background: #f9f9f9;
                        border: 1px solid #f9f9f9;
                        margin-right: 1px;
                        position: relative;
                        color:black;   
                    }
                    .active{
                        background: #ffffff;
                        border-color: #ff4001;
                    }
                }
            }
            .spec {
                padding: 20px 0;
                border-bottom: 1px solid #e4dbcd;
                p {
                    float: left;
                    font-size:12px;
                    width: 25%;
                    height: 20px;
                    line-height: 20px;
                    position: relative;
                    text-indent: 20px;
                    i {
                        top: 50%;
                        margin-top: -10px;
                    }
                }
                .no_wrap{
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }
                .tableware{
                    i {
                        position: absolute;
                        width: 20px;
                        height: 20px;
                        background: url(../images/icons_1.png?01) center no-repeat;
                        left: 0;
                        background-position: -115px -215px;
                    }
                }
                .size{
                    i {
                        position: absolute;
                        width: 20px;
                        height: 20px;
                        background: url(../images/icons_1.png?01) center no-repeat;
                        left: 0;
                        background-position: -65px -215px;
                    }
                }
                .weight{
                    i {
                        position: absolute;
                        width: 20px;
                        height: 20px;
                        background: url(../images/icons_1.png?01) center no-repeat;
                        left: 0;
                        background-position: -165px -215px;
                    }
                }
               .sweet {
                    text-indent: 0;
                    i {
                        position: absolute;
                        width: 20px;
                        height: 20px;
                        background: url(../images/icons_1.png?01) center no-repeat;
                        left: 0;
                        background-position: -204px -215px;
                        top: 50%;
                        margin-top: -9px;
                        left: 36px;
                    }
                }
            }
            .btn_wrap {
                margin-top: 20px;
                a {
                    width: 260px;
                    height: 48px;
                    text-align: center;
                    line-height: 48px;
                    font-size: 18px;
                }
                .add_cart{
                    border: 1px solid #ff4001;
                    background: #ffffff;
                    color: #ff4001;
                }
                .buy_now{
                    background: #ff4001;
                    color: #ffffff;
                }
            }
        }
       
    }
 }
    